*{
    margin: 0;
}

body, html { /* Evitar que a pagina aumente pro lado */
    overflow-x: hidden; 
    height: 100%;
}

::selection {
    color: rgb(255, 255, 255);
    background-color: purple;
}

body{
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-image: linear-gradient(180deg, #050d13, #010a0f );
    background-repeat: no-repeat;
}
header{
    background-color: #00386a;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322);
    box-sizing: border-box;
    position: sticky; top:0;
    z-index: 999;
    height: 75px;
    display: flex; flex-direction: row; align-items: center;
    margin-bottom: 20px;
}

header img{
    width: 90px;
    margin-left: 20px; margin-right: 20px;
}

header a{
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;  font-style: normal;
    font-variation-settings: "wdth" 100;

    margin: 5px;
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    border: #ffffff44 1px solid; border-radius: 5px; 
    padding: 7px;
}

header a:hover{
    color: #0f1c92;
    font-weight: bold;
    background-color: #ffffff;

}

h1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-style: normal; font-size: 40px;
    color: #ffffff;
    animation: titulos 2s ease-in-out alternate;
}

p{

    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;  font-style: normal;
    font-variation-settings: "wdth" 100;

    font-size: 22px; /*Pensar em tamanho legal pra qlr pessoa conseguir ver de boa*/

    color: rgb(255, 255, 255);
    margin-left: 20px;

}

h2{
    margin-left: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: 500ms ease-in-out;
}

h2:hover{
    font-size: 45px;
}

h3{
    margin-left: 20px;
    font-family: "New Amsterdam", sans-serif; font-weight: bold;
    font-style: normal; font-size: 30px;
    color: rgb(255, 255, 255);
    clear: both;
    animation: titulos 2s ease-in-out alternate;
}

video{
    border-radius: 10px;
    width: 400px;
    float: right;
    margin: 15px;
    border: rgba(255, 255, 255, 0.507) 2px solid;
}

.Box-Bem-Vindo{
    border: #ffffff2d solid 1px; border-radius: 5px;
    background-color:#0e1922;
    
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
    padding: 10px;
    display: flex; flex-direction: column; align-items: center;
    width: 800px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    margin-top: auto;
    
}

.Box-Bem-Vindo p{
    text-align: center; /*O texto no centro n pode ser longo igual esta agora*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.Box-Bem-Vindo img:hover{
    height: 400px;
    width: 620px;
    filter: brightness(80%); 
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
}

.Box-Bem-Vindo img{
    border-radius: 5px;
    height: 380px;
    width: 600px;
    filter: brightness(50%); /*img um pouco mais escura*/
    transition: 500ms ease-in-out;
}

.imagem-info{
    margin: 10px;
    width: 30%;
    border: rgba(255, 255, 255, 0.507) 2px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
}

.imagem-info:nth-child(2n){
    float: left;
    margin-left: 30px;
    margin-left: 15px;
}

.imagem-info:nth-child(2n+1){
    float: right;
    margin-right: 30px;
}

.caixinhas-box-principal{
    display: flex; flex-direction: row; justify-content: center;
    clear: both;

}

.caixinha-img-textinho{
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border: #ffffff2d solid 1px; border-radius: 8px;
    background-color:#0e1922;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
    margin: 15px;
    
}
.caixinha-img-textinho img{
    border: #ffffff79 solid 2px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 500ms ease-in-out;
}

.caixinha-img-textinho img:hover{
    border: #ffffff79 solid 5px;
    width: 250px;
    height: 250px;
}

@keyframes titulos{
    0%{font-size: 30px; }
    100%{font-size: 40px;}
}