*{
    margin: 0;
}

body, html {
    overflow-x: hidden; 
    height: 100%;
}

::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(126, 7, 126);
}

body{
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-image: linear-gradient(180deg, #030c13, #00090e );
    background-repeat: no-repeat;
}
header{
    background-color: #00386a;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322);
    box-sizing: border-box;
    position: sticky; top:0;
    z-index: 999;
    height: 75px;
    display: flex; flex-direction: row; align-items: center;
    margin-bottom: 20px;
}

header img{
    width: 90px;
    margin-left: 20px; margin-right: 20px;
}

header a{
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;  font-style: normal;
    font-variation-settings: "wdth" 100;

    margin: 5px;
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    border: #ffffff44 1px solid; border-radius: 5px; 
    padding: 7px;
}

header a:hover{
    color: #0f1c92;
    font-weight: bold;
    background-color: #ffffff;

}

h1{
    font-family: 'Catamaran';
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-style: normal; font-size: 40px;
    color: #ffffff;
}

p{

    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;  font-style: normal;
    font-variation-settings: "wdth" 100;

    font-size: 22px; /*Pensar em tamanho legal pra qlr pessoa conseguir ver de boa*/

    color: rgb(255, 255, 255);
    margin-left: 20px;
}

p:last-child{
    margin-bottom: 200px;
}

p a{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 47, 255); 
    border-radius: 8px;
    padding: 4px;
}

.amarelo{
    color: rgb(240, 240, 61);
}

.rosa{
    color: rgb(255, 68, 208);
}

.azulzinho{
    color: rgb(72, 245, 187);
}

h2{
    margin-left: 20px;
    font-family: 'Montserrat';
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: 500ms ease-in-out;
}

.caixinha-img-textinho h2{
    margin-left: 0;
}


h2:hover{
    font-size: 45px;
}

h3{
    background-color:#00396ab2 ;
    padding: 8px;
    margin-left: 20px;
    font-family: 'Montserrat Thin'; font-weight: bold;
    font-style: normal; font-size: 30px;
    color: rgb(255, 255, 255);
    clear: both;
}

video{
    border-radius: 10px;
    width: 400px;
    float: right;
    margin: 15px;
    border: rgba(255, 255, 255, 0.507) 2px solid;
}

.Box-Bem-Vindo{
    border: #ffffff2d solid 1px; border-radius: 5px;
    background-color:#0e1922;
    clear: both;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
    padding: 10px;
    display: flex; flex-direction: column; align-items: center;
    width: 800px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    margin-top: auto;
    
}

.Box-Bem-Vindo p{
    text-align: left; /*O textos ficaram meios grandinhos ent a esq é melhor msm*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.Box-Bem-Vindo img:hover{
    height: 400px;
    width: 620px;
    filter: brightness(80%); 
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
}

.Box-Bem-Vindo img{
    border-radius: 5px;
    height: 380px;
    width: 600px;
    filter: brightness(50%); /*img um pouco mais escura*/
    transition: 500ms ease-in-out;
}

.imagem-info{
    float: right;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
}

.caixinhas-box-principal{
    display: flex; flex-direction: row; justify-content: center;
    clear: both;

}

.caixinha-img-textinho{
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border: #ffffff2d solid 1px; border-radius: 8px;
    background-color:#0e1922;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
    margin: 15px;
    
}
.caixinha-img-textinho img{
    border: #ffffff25 solid 2px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 500ms ease-in-out;
}

.caixinha-img-textinho img:hover{
    border: #ffffff79 solid 5px;
    width: 250px;
    height: 250px;
}

.codigo-qr{
    display: block;
    margin: auto;
    width: 15%;
} 

details{
    font-family: 'Montserrat';
    font-size: 30px;
    color:#030c13;
    border: #ffffff8e solid 1px; border-radius: 5px;
    background-color:#8ba6c7;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.322); 
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 5px;
}

details:hover{
    color: #8ba6c7;
    border:  solid 1px; border-radius: 5px;
    background-color:#030c13;
}

.code{
    background-color: #111111;
    border:  rgba(255, 255, 255, 0.144) solid 1px; border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    display: block;
    padding: 10px;

}

.code p{
    color: greenyellow;
    font-size: 15px;
}

@keyframes titulos{
    0%{font-size: 30px; }
    100%{font-size: 40px;}
}

/*Fontes*/
/*h1*/
@font-face {
    font-family: 'Catamaran';
    src: url('fonts/Catamaran/static/Catamaran-Black.ttf') format('truetype');
}

/*h2*/
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

/*h3*/
@font-face {
    font-family: 'Montserrat Thin';
    src: url('fonts/Montserrat/static/Montserrat-Thin.ttf') format('truetype');
}

.zelda{
    margin-top: 100px;
    width: 10%;
    position: absolute;
    transition: transform 0.2s;
}

.container {
    display: block;
    width: 200px;
}

.block {
    position: absolute;
}

.block img{
    width: 95px;
}

.block.blue {
    scale: -90deg;
    transform: scaleX(-1);
    animation: moveLeftToRight 10s linear infinite;
}

.block.red {
    right: 0;
    animation: moveRightToLeft 14s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
        left: 0;
    }
    50% {
        left: calc(100vw - 100px); /* Considera a largura do bloco */
    }
    100% {
        left: 0;
    }
}

@keyframes moveRightToLeft {
    0% {
        right: 0;
    }
    50% {
        right: calc(100vw - 100px); /* Considera a largura do bloco */
    }
    100% {
        right: 0;
    }
}

.fim-de-pag{
    display: block;
}